.drawer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  background: #000000e1;
  padding: 20px;
  backdrop-filter: blur(6px);
  box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
  color: rgb(100, 100, 100);
  overflow: hidden;
  z-index: 1000;
}

.drawer-close {
  position: absolute;
  top: 10px;
  right: 45px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.drawer-title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

/* Horizontal container */
.forecast-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-top: 10px;
  gap: 10px;
}

/* Individual forecast blocks */
.forecast-card {
  flex: 1;
  background: #ffffff00;
  /* border: 1px solid #333; */
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.4); */
}

/* Date text */
.forecast-date {
  font-size: 14px;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 6px;
}

/* Pollon value */
.forecast-value {
  font-size: 22px;
  font-weight: bold;
  color: #4CAF50; /* default green */
}
